.lateral {
  width: 200px;
  border:black 1px solid;
  height: 700px;
  float: left;
  background-color:cadetblue;
}

.principal {
  height: 100%;
  width: 100%;
}

.conteudo {
  background: #FFFFFF url("../assets/covid-home.png") repeat  top fixed;
  background-size: 1102px 707px;
  border: blue 1px solid;
  height: 700px;
}
