

<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  
  <select formControlName="paises" >
    <option *ngFor="let pais of paisesRecebidos" [ngValue]="pais.id" >
      {{pais.label}}
    </option>
  </select>
  <select formControlName="uf">
    <option *ngFor="let uf of ufs" [ngValue]="uf.uf">
      {{uf.label}}
    </option>
  </select>
  <br>
   
  <input type="submit" value="enviar" 
                      [disabled]="!searchForm.valid"
                      [routerLink]="['/listcases']">
</form>
<div *ngIf="foiSubmetido">
  <app-mensagem [sucesso]="tipoMensagem"></app-mensagem>
</div>

